@page "/"
<h1>Salutare</h1>
<MyInputFile></MyInputFile>

@code {

    @* async Task Upload()
        {
        Snackbar.Configuration.PositionClass = Defaults.Classes.Position.TopCenter;
        fileName = null;

        show = true;


        if (file != null)
        {
        var ms = new MemoryStream();

        await file.OpenReadStream().CopyToAsync(ms);


        var content = new MultipartFormDataContent
        {
        {new ByteArrayContent(ms.GetBuffer()),"\"upload\"",file.Name }
        };
        await HttpClient.PostAsync("upload", content);

        }

        file = null;
        } *@
}
