@page "/Sign"
@attribute [Authorize]
@using LicentaWebApp.Client.ViewModels
@inject IKeyViewModel _keyViewModel

<div style="margin: auto; justify-content: center; width: 33%">
    <h3>Sign</h3>
    <MudSelect Label="Select a key" @bind-Value="SelectedKey"
               AnchorOrigin="Origin.BottomCenter"
               Placeholder="Please select a key" AdornmentIcon="@Icons.Material.Filled.VpnKey" AdornmentColor="Color.Primary">
        @foreach (var key in _keyViewModel.Keys)
        {
            <MudSelectItem Value="@key.Name">@key.Name</MudSelectItem>
        }
    </MudSelect>


    <MyInputFile KeyName="@SelectedKey"></MyInputFile>
</div>

@code {
    private string SelectedKey { get; set; } = null;

    protected override async Task OnInitializedAsync()
    {
        await _keyViewModel.InitializeKeys();
    }

}