@page "/users"
@attribute [Authorize]
@using LicentaWebApp.Client.ViewModels
@inject IUserViewModel _userViewModel


<MudText Typo=Typo.h2>Salutare</MudText>

<div class="col-12">
    @if (_userViewModel.UserList.Any())
    {
        @foreach (var u in _userViewModel.UserList)
        {
            <MudText>@u.FirstName @u.LastName</MudText>
        }
    }
    else
    {
        <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
    }
    

</div>

@code {

    
    protected override async Task OnInitializedAsync()
    {
        await _userViewModel.InitializeUserList();
    }

}
