@page "/users"
@inject HttpClient HttpClient
@using LicentaWebApp.Shared


<MudText Typo=Typo.h2>Salutare</MudText>
<div class="col-12">
    @foreach (var u in users)
    {
        <MudText>@u.FirstName @u.LastName</MudText>
    }
</div>

@code {

    List<UserModel> users = new List<UserModel>();
    protected override async Task OnInitializedAsync()
    {
        users = await HttpClient.GetFromJsonAsync<List<UserModel>>("user");
    }

}
