@page "/users"
@using LicentaWebApp.Client.ViewModels
@using LicentaWebApp.Shared.Models
@inject IUserViewModel _userViewModel


<MudText Typo=Typo.h2>Salutare</MudText>

<div class="col-12">
    @foreach (var u in _userViewModel.UserList)
    {
        <MudText>@u.FirstName @u.LastName</MudText>
    }
    
</div>

@code {

    
    protected override async Task OnInitializedAsync()
    {
        await _userViewModel.InitializeUserList();
    }

}
